@import 'variables';

::after,
::before,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  background-color: $bg-color;
  color: $text-color;
  font-family: $font-family;
  line-height: 1.4;
  height: 100vh;
}

.flex-center-culomn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.clickable { cursor: pointer; }
