$bg-color: #0d1117;
$primary-bg-color: #161b22;
$success-color: #26cc3c;
$danger-color: red;
$text-color: #c9d1d9;
$font-family: "Segoe UI", arial, sans-serif;
$form-box-shadow-color: rgba(82, 79, 79, 0.38);
