$bg-color: #0d1117;
$primary-bg-color: #282c34;
$success-color: #26cc3c;
$danger-color: #e6390e;
$text-color: #ffffffe0;
$font-family: "Segoe UI", arial, sans-serif;
$form-box-shadow-color: rgba(82, 79, 79, 0.38);
